<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/tema1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
 <div class="jumbotron" style="text-align: center; padding-top: 30px; padding-bottom: 20px; background-color: #373C57; margin-bottom: 0px;">
   <h1 style="color: #F2F2F0;">
     Calcul Numeric
   </h1>
   <h2 style="color: #F2F2F0">
     Tema 2
   </h2>
 </div>
   <div class="row" style="background-color: #5584BD; margin: 0; padding-top: 20px; padding-bottom: 20px">
     <p style="color: #F2F2F0; font-size: 20px; padding-left: 50px; ">
       <a class="header-text">Algoritmul de eliminare Gauss</a>
     </p>
   </div>
   <div class="row" style="margin: 0; padding-top:30px; padding-bottom: 30px">
     <div id="exercitiu3" style="padding-left: 50px;">

      <form id="text" method="post" style="padding-bottom: 10px">
        <input type="number" placeholder="n value" name="nValue" id="nValue" style="border-radius: 3px; border: 1px solid #373C57; padding: 6px"/>
        <button type="submit" style="border: 1px solid #373C57; border-radius: 3px; background-color: white; padding: 6px; color: #373C57;">Submit</button>
      </form>
         <div style="display:inline-block; color:#5584BD">
             <h2>A: </h2>
              <p style="color: #000859; font-size: 20px">
                {% for user in M1 %}
                    <p>{{ user }}</p>
                {% endfor %}
              </p>
         </div>
        <div style="display:inline-block; margin:0 0 0 40px; color:#5584BD">
             <h2>b: </h2>
              <p style="color: #000859; font-size: 20px">
                {% for user in M2 %}
                    <p>{{ user }}</p>
                {% endfor %}
              </p>
         </div>
         <div style="display:inline-block; margin:0 0 0 40px; color:#5584BD">
             <h2>X: </h2>
              <p style="color: #000859; font-size: 20px">
                {% for user in x %}
                    <p>{{ user }}</p>
                {% endfor %}
              </p>
         </div>
         <div style="display:inline-block; margin:0 0 0 40px; color:#5584BD">
             <h2>Inversa Matricii: </h2>
              <p style="color: #000859; font-size: 20px">
                {% for user in R %}
                    <p>{{ user }}</p>
                {% endfor %}
              </p>
         </div>


     </div>
       <div style="display:inline-block; margin:0 0 0 50px; color:#5584BD">
       <h2> Norma: </h2>
       <p>{{N}}</p>
       </div>
   </div>
</body>
</html>
