<html>
<head>
  <link rel="stylesheet" type="text/css" href="tema1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">

 function exercitiu1(){
  var ex1 = document.getElementById('exercitiu1');
  ex1.style.display = 'block';
  var ex2 = document.getElementById('exercitiu2');
  ex2.style.display = 'none';
  var ex3 = document.getElementById('exercitiu3');
  ex3.style.display = 'none';
}
function exercitiu2(){
 var ex1 = document.getElementById('exercitiu1');
 ex1.style.display = 'none';
 var ex2 = document.getElementById('exercitiu2');
 ex2.style.display = 'block';
 var ex3 = document.getElementById('exercitiu3');
 ex3.style.display = 'none';
}
function exercitiu3(){
 var ex1 = document.getElementById('exercitiu1');
 ex1.style.display = 'none';
 var ex2 = document.getElementById('exercitiu2');
 ex2.style.display = 'none';
 var ex3 = document.getElementById('exercitiu3');
 ex3.style.display = 'block';
}
</script>
</head>
<body>
 <div class="jumbotron" style="text-align: center; padding-top: 30px; padding-bottom: 20px; background-color: #373C57; margin-bottom: 0px;">
   <h1 style="color: #F2F2F0;">
     Calcul Numeric
   </h1>
   <h2 style="color: #F2F2F0">
     Tema 1
   </h2>
 </div>
   <div class="row" style="background-color: #5584BD; margin: 0; padding-top: 20px; padding-bottom: 20px">
     <p style="color: #F2F2F0; font-size: 20px; padding-left: 50px; ">
       <a onclick="exercitiu1()" class="header-text">Exercitiul 1</a>
       <a onclick="exercitiu2()" class="header-text">Exercitiul 2</a>
       <a onclick="exercitiu3()" class="header-text">Exercitiul 3</a>
     </p>
   </div>
   <div class="row" style="margin: 0; padding-top:30px; padding-bottom: 30px">
     <div id="exercitiu1" style="padding-left: 50px; display: none;">
       <p style="color: #000859; font-size:20px">
         Să se găsească cel mai mic număr pozitiv u > 0, de forma u = 10-m care satisface
        proprietatea:
        1 +c u != 1
        unde prin +c am notat operația de adunare efectuată de calculator. Numărul u se
        numește precizia mașină.
      </p>
      <p style="color: #000859; font-size: 20px">
        Rezultat:
      </p>
      <p style="color:#5584BD; font-size: 20px;">
        {{res1}}
      <p>
     </div>
     <div id="exercitiu2" style="padding-left: 50px; display: none;">
       <p style="color: #000859; font-size:20px;">
         Operația +c este neasociativă: fie numerele x=1.0 , y = u , z = u , unde u este precizia
         mașină calculată anterior. Să se verifice că operația de adunare efectuată de calculator
         este neasociativă:
         (x +c y) +c z != x +c (y +c z).
         Să se găsească un exemplu pentru care operația de înmulțire ×c este neasociativă.
      </p>
      <p style="color: #5584BD; font-size: 20px;">
        Rezultat: {{res2}}
      </p>

     </div>
     <div id="exercitiu3" style="padding-left: 50px; display: none">
       <p style="color: #000859; font-size:20px">
      Algoritmul lui Strassen de înmulțire a matricelor
      </p>
      <form id="text" method="post" style="padding-bottom: 10px">
        <input type="number" placeholder="d value" name="dValue" id="dValue" style="border-radius: 3px; border: 1px solid #373C57; padding: 6px"/>
        <input type="number" placeholder="n value" name="nValue" id="nValue" style="border-radius: 3px; border: 1px solid #373C57; padding: 6px"/>
        <button type="submit" style="border: 1px solid #373C57; border-radius: 3px; background-color: white; padding: 6px; color: #373C57;">Submit</button>
      </form>
         <div style="display:inline-block; color:#5584BD">
             <h2>M1: </h2>
              <p style="color: #000859; font-size: 20px">
                {% for user in M1 %}
                    <p>{{ user }}</p>
                {% endfor %}
              </p>
         </div>
        <div style="display:inline-block; margin:0 0 0 40px; color:#5584BD">
             <h2>M2: </h2>
              <p style="color: #000859; font-size: 20px">
                {% for user in M2 %}
                    <p>{{ user }}</p>
                {% endfor %}
              </p>
         </div>
         <div style="display:inline-block; margin:0 0 0 40px; color:#5584BD">
             <h2>Res: </h2>
              <p style="color: #000859; font-size: 20px">
                {% for user in R %}
                    <p>{{ user }}</p>
                {% endfor %}
              </p>
         </div>

     </div>
   </div>
</body>
</html>
