<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/tema1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">

 function exercitiu1(){
  var ex1 = document.getElementById('exercitiu1');
  ex1.style.display = 'block';
  var ex2 = document.getElementById('exercitiu2');
  ex2.style.display = 'none';
  var ex3 = document.getElementById('exercitiu3');
  ex3.style.display = 'none';
}
function exercitiu2(){
 var ex1 = document.getElementById('exercitiu1');
 ex1.style.display = 'none';
 var ex2 = document.getElementById('exercitiu2');
 ex2.style.display = 'block';
 var ex3 = document.getElementById('exercitiu3');
 ex3.style.display = 'none';
}
function exercitiu3(){
 var ex1 = document.getElementById('exercitiu1');
 ex1.style.display = 'none';
 var ex2 = document.getElementById('exercitiu2');
 ex2.style.display = 'none';
 var ex3 = document.getElementById('exercitiu3');
 ex3.style.display = 'block';
}
</script>
</head>
<body>
 <div class="jumbotron" style="text-align: center; padding-top: 30px; padding-bottom: 20px; background-color: #373C57; margin-bottom: 0px;">
   <h1 style="color: #F2F2F0;">
     Calcul Numeric
   </h1>
   <h2 style="color: #F2F2F0">
     Tema 4
   </h2>
 </div>
   <div class="row" style="background-color: #5584BD; margin: 0; padding-top: 20px; padding-bottom: 20px">
     <p style="color: #F2F2F0; font-size: 20px; padding-left: 50px; ">
       <a onclick="exercitiu3()" class="header-text">Rezolvarea sistemelor liniare mari </a>
     </p>
   </div>
   <div class="row" style="margin: 0; padding-top:30px; padding-bottom: 30px">


     <div id="exercitiu3" style="padding-left: 50px; display: block">
       <p style="color: #000859; font-size:20px">
      </p>
         <div style="display:inline-block; color:#5584BD">
              <p style="color: #000859; font-size: 20px">
                Norma: {{norma}}
              </p>
         </div>
         <div style="display:inline-block; color:#5584BD">
              <p style="color: #000859; font-size: 20px">
                {% for user in res %}
                  <p>
                  xValues la Iteratia {{loop.index}} </br>
                  {% for u in user[:10] %}
                    {{ u }}
                  {%endfor%}
                    ...</p>
                {% endfor %}
              </p>
         </div>


     </div>
   </div>
</body>
</html>
